{
    "env": {
        "browser": true
    },
    "globals": {
        "_": true,
        "google": true,
        "Backbone": true
    },
    "rules": {
        "eqeqeq": [2, "smart"],
        "guard-for-in": 2,
        "no-undef": 2,
        "no-unused-vars": [2, {"vars": "local", "args": "none"}],
        "strict": 2,
        "quotes": [2, "single"],
        "consistent-return": 2,
        "complexity": [1, 1],
        "dot-notation": 2
    }
}
