<div class="map-flag">
    <section>
        <h3>{{name}}</h3>
        <ul class="flag-details">
            <li>{{start}}</li>
            <li>{{percent_done}}</li>
        </ul>
    </section>
</div>
